<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CNBC News</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/source.css') }}"
    />
  </head>
  <body>
    <div><h1>News from CNBC</h1></div>
    <div>
      {% for key, value in cnbc_news.items() %}
      <a href="{{value}}"><h5>{{key}}</h5></a>
      <hr />
      {% endfor %}
    </div>
  </body>
</html>
